{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <div class="container">
        <br><h1>Users</h1><br>

        {% include 'layouts/_flash_message.html.twig' %}
        <table class="table">
            <tr>
                <th>id</th>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Role</th>
                <th>Action</th>
            </tr>

            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.lastName }}</td>
                    <td>
                        {% if ('ROLE_ADMIN' in user.roles) %}
                            <span class="text-primary">Admin</span>
                        {% elseif ('ROLE_EDITOR' in user.roles) %}
                            <span class="text-success">Editor</span>
                        {% else %}
                            <span class="text-secondary">Client</span>
                        {% endif %}

                    </td>
                    <td>
                        {% if('ROLE_ADMIN' in user.roles) == false %}
                            {% if ('ROLE_EDITOR' in user.roles) == false %}
                                <a onclick="return confirm('do you really want to assign the editor role to this user?')" href="{{ path('app_user_to_editor',{'id':user.id}) }}"><button class="btn btn-outline-primary">Add as Editor</button></a>
                            {% else %}
                            <a onclick="return confirm('do you really want to remove the editor role to this user?')" href="{{ path('app_user_remove_editor_role',{'id':user.id}) }}"><button class="btn btn-outline-danger">Remove as Editor</button></a>
                            {% endif %}

                            <a onclick="return confirm('do you really want to delete this user?')" href="{{ path('app_user_remove',{'id':user.id}) }}"><button class="btn btn-outline-danger">Delete</button></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
